/* Banner Styles */
.banner-img-container {
    max-width: 1920px;
    margin: 0 auto;
}

.banner-caption > p {
    color: white;
    padding: 5px 0;
}

/* Preparation Styles */
.preparation-container {
    max-width: 1000px;
    margin: 0 auto;
}

/* Services Styles */
.services-container {
    max-width: 800px;
    margin: 0 auto;
}

.service-img {
    width: 200px;
    height: 200px;
}

.service-img > img {
    width: 100%;
    height: 100%;
}

.service-info {
    width: 600px;
}